doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href = '/')HOME
    a(href = '/info')INFO
    a(href = '/users')USERS

    br
    block content
