doctype html 
html 
    head 
        style.
            #my-header{
                color = red;
            }
    body 
        header#my-header Ristorante Florence
        hr
        a(href='/introduce') Introduce
        npspnpspnpsp 
        a(href='/menus')  Menu
        npspnpspnpsp 
        a(href='/location') Map
        npspnpspnpsp  
        a(href='/') HOME 

        block content 
        hr
        footer#my-footer 전화번호 : 053-111-1111 오시는 길 : 영진전문대 후문 