extends layout 
block content 
        title menù menu
        hr
        h1 menus 
        h2 #{array[0]} - 12.00euros
        h2 #{array[1]} - 55.00euros
        h2 #{array[2]} - 12.00euros per glass